body {
    background-color: #ebe8e2;
}

/* Navbar */
.navbar {
    margin-bottom: 1rem;
    background-color: #0077b6;
}

.navbar a{
    font-weight: bold;
    color: white;
}

.navbar-brand {
    margin-bottom: 0.5px;
    margin-right: 1rem;
    font-size: 2rem;
}

ul.nav.navbar-nav li a{
    margin: 0 0.5rem;
    text-decoration: none ;
}

ul.nav.navbar-nav li a:hover{
    color:#00b4d8;
    cursor: pointer;
}

/* button */
.btn-primary {
    background-color: #0077b6;
    border-color: #0077b6;
}

.btn-primary:hover {
    background-color: #00b4d8;
    border-color: #00b4d8;
}

/* .btn-danger {
    background-color: #ee727f;
} */

.btn-danger:hover {
    background-color: #f83f71;
    border-color: #f83f71;
}

/* Landing */
.landing-hero {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    text-align: center;
    padding: 1rem;
    background-position: center center;
    background-size: cover;
}

/* RoomList */
.room-list .list-group-item {
    display: flex;
    align-items: flex-start;

}

.room-list a {
    text-decoration: none;
    color: black;
    width: 100%;
}

.room-list:not(.no-hover) .list-group-item:hover {
    background-color: #00b4d8;
}

/* RoomItem */
.roomitem-text {
    margin-right: 1rem;
}

.roomitem-text-aval {
    font-weight: bold;
}

/* RoomNew */
.form-control .react-date-picker__wrapper {
    border: none;
}

/* Profile */
.booked-list a {
    text-decoration: none;
    color: black;
}